@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none; }

*:focus {
  outline: none; }

ul, h1, h2, h3, h4 {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/* width */
::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: #FFEE9B;
  border-radius: 5px; }

@font-face {
  font-family: 'Conv_bpg_le_studio';
  src: url("../fonts/bpg_le_studio.eot");
  src: local("☺"), url("../fonts/bpg_le_studio.woff") format("woff"), url("../fonts/bpg_le_studio.ttf") format("truetype"), url("../fonts/bpg_le_studio.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
#home_main_fluid {
  position: relative;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/sun.png"), url("../img/mountain_r.png"), url("../img/mountain_l.png"), url("../img/mountain.png"), linear-gradient(to left, rgba(254, 222, 99, 0.9) 20%, rgba(255, 67, 109, 0.9));
  background-position: 70% top ,right bottom, right bottom ,right bottom;
  background-position: 70% top ,100% 100%, 50% 100%,88% 100%;
  overflow: hidden;
  /*background-size: 62%, 85%, 74%;*/ }

.header {
  padding: 70px 100px 0 100px;
  display: flex;
  justify-content: space-between; }
  .header .header_left_fluid {
    display: flex;
    align-items: center; }
    .header .header_left_fluid .search_fluid {
      display: flex;
      border-bottom: 1px solid #fff;
      flex: 0 0 400px;
      justify-content: space-between;
      border-left: 1px solid transparent;
      border-top: 1px solid transparent;
      margin-left: 80px;
      transition: all .4s;
      position: relative;
      z-index: 2000; }
      .header .header_left_fluid .search_fluid.active {
        border-left: 1px solid #fff;
        border-top: 1px solid #fff; }
      .header .header_left_fluid .search_fluid input[type=submit] {
        background: url("../img/Asset 2-8.png");
        border: 0;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer; }
      .header .header_left_fluid .search_fluid input[type=text] {
        background: transparent;
        outline: none;
        color: #fff;
        width: calc(100% - 40px);
        padding: 0 5px 0; }
  .header .header_right_fluid {
    display: flex;
    align-items: flex-end; }
    .header .header_right_fluid .language_box span {
      color: #fff;
      text-transform: uppercase;
      border-bottom: 1px solid #fff;
      padding-bottom: 5px;
      cursor: pointer;
      font-size: 20px; }
    .header .header_right_fluid .login_box {
      display: flex;
      align-items: flex-end;
      margin-right: 40px;
      position: relative;
      z-index: 2000; }
      .header .header_right_fluid .login_box .login_img_box {
        cursor: pointer;
        margin-right: 20px; }
      .header .header_right_fluid .login_box span {
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        font-family: 'Conv_bpg_le_studio'; }

.header_weather_info_fluid {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 30px 40px 30px 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1); }
  .header_weather_info_fluid .week_weather_info {
    flex: 0 0 14.2%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header_weather_info_fluid .week_weather_info:not(:last-child) {
      border-right: 2px solid #fff; }
    .header_weather_info_fluid .week_weather_info .waether_img {
      text-align: center; }
      .header_weather_info_fluid .week_weather_info .waether_img img {
        width: 120px;
        height: 100px;
        object-fit: contain;
        transition: all .4s; }
        .header_weather_info_fluid .week_weather_info .waether_img img:hover {
          transform: scale(1.1); }
    .header_weather_info_fluid .week_weather_info .week_days {
      margin: 7px 0px 0px; }
      .header_weather_info_fluid .week_weather_info .week_days span {
        color: #fff;
        font-size: 20px;
        font-family: 'Conv_bpg_le_studio'; }
    .header_weather_info_fluid .week_weather_info .temperature_box span {
      color: #fff;
      font-size: 20px;
      font-family: 'Conv_bpg_le_studio'; }

.cities_weather_info_fluid {
  position: absolute;
  bottom: calc(227px + 5%);
  left: 9%;
  z-index: 100; }
  .cities_weather_info_fluid .cities_main_info_fluid > div {
    margin-bottom: 5px; }
  .cities_weather_info_fluid .cities_weather_img img {
    max-width: 380px; }
  .cities_weather_info_fluid .cities_weather_main_info {
    display: flex;
    margin-top: 10px; }
  .cities_weather_info_fluid .cities_temp span {
    color: #fff;
    font-size: 65px;
    line-height: 65px;
    font-family: 'Conv_bpg_le_studio'; }
  .cities_weather_info_fluid .cities_tittle h2 {
    color: #fff;
    font-family: 'Conv_bpg_le_studio'; }
  .cities_weather_info_fluid .cities_date span {
    color: #fff;
    font-size: 20px;
    font-family: 'Conv_bpg_le_studio'; }
  .cities_weather_info_fluid .cities_main_info span {
    color: #fff;
    font-size: 17px;
    margin-left: 7px;
    font-family: 'Conv_bpg_le_studio'; }
  .cities_weather_info_fluid .cities_share_box {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 2px 4px 5px; }
    .cities_weather_info_fluid .cities_share_box a {
      color: #fff;
      font-family: 'Conv_bpg_le_studio'; }

.hourly_prognosis_fluid {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5%;
  bottom: calc(227px + 3%); }
  .hourly_prognosis_fluid .hourly_prog_box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #E0E0E0;
    padding-bottom: 10px;
    margin-bottom: 10px; }
  .hourly_prognosis_fluid .hourly_prog_img img {
    width: 50px;
    height: 50px;
    object-fit: contain; }
  .hourly_prognosis_fluid .hourl_prog_temp span {
    color: #fff;
    font-size: 43px;
    opacity: 0.9;
    font-family: 'Conv_bpg_le_studio'; }
  .hourly_prognosis_fluid .hourl_prog_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 7px; }
    .hourly_prognosis_fluid .hourl_prog_info h3 {
      color: #fff;
      opacity: 0.8;
      font-size: 23px;
      font-family: 'Conv_bpg_le_studio'; }
    .hourly_prognosis_fluid .hourl_prog_info span {
      opacity: 0.8;
      font-family: 'Conv_bpg_le_studio';
      color: #fff;
      font-size: 13px; }
  .hourly_prognosis_fluid .hourly_prog_tittle {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 5px;
    margin-top: 100px;
    margin-right: 10px; }
    .hourly_prognosis_fluid .hourly_prog_tittle h3 {
      color: #fff;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: normal;
      font-family: 'Conv_bpg_le_studio'; }
  .hourly_prognosis_fluid .hourly_prog_box_fluid {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

.header_login_fluid {
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #fff;
  width: 500px;
  z-index: 3000;
  height: 100%;
  transition: all .6s;
  transition-timing-function: cubic-bezier(0.09, 0.71, 0, 1.04);
  visibility: hidden; }
  .header_login_fluid.active {
    right: 0%;
    visibility: visible; }
  .header_login_fluid .header_login_img {
    margin-top: 40px;
    text-align: center; }
    .header_login_fluid .header_login_img img {
      width: 180px; }

.login_form {
  margin-top: 60px; }
  .login_form .form_login_tabs {
    width: 70%;
    margin: 0 auto; }
    .login_form .form_login_tabs input {
      width: 100%;
      display: block;
      border: 1px solid #E0E0E0;
      color: #E0E0E0;
      margin-bottom: 10px;
      text-align: center;
      padding: 11px 5px; }
      .login_form .form_login_tabs input::placeholder {
        color: #E0E0E0; }
  .login_form .form_registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px; }
    .login_form .form_registration a {
      color: #1AC1B0;
      border-bottom: 1px solid #1AC1B0;
      font-size: 20px;
      margin-bottom: 8px;
      font-family: 'Conv_bpg_le_studio'; }
  .login_form .form_login {
    text-align: center;
    margin-top: 40px; }
    .login_form .form_login button {
      border: none;
      outline: none;
      color: #FF436D;
      font-size: 28px;
      background: transparent;
      border-bottom: 1px solid #ff436d;
      cursor: pointer; }

.header_decor {
  position: absolute;
  top: -20px;
  left: 40%;
  z-index: 10;
  perspective: 2000px; }
  .header_decor img {
    width: 200px;
    animation: moveAnime 18s linear infinite;
    animation-direction: alternate-reverse;
    transition: all .4s; }

.header_decor_x {
  position: absolute;
  top: -20px;
  left: 57%;
  z-index: 10;
  perspective: 2000px; }
  .header_decor_x img {
    width: 150px;
    animation: moveAnime 13s linear infinite;
    animation-direction: alternate-reverse;
    animation-delay: .4s; }

.header_decor_y {
  position: absolute;
  top: -20px;
  left: 71%;
  z-index: 10;
  perspective: 2000px; }
  .header_decor_y img {
    width: 180px;
    animation: homeAnime 15s linear infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-delay: .2s; }

@keyframes homeAnime {
  0% {
    transform: translateY(-20px) rotateY(0deg); }
  100% {
    transform: translateY(0px) rotateY(315deg); } }
@keyframes moveAnime {
  0% {
    transform: translate3d(2px, 4px, 0) rotateY(20deg) translateY(-30px); }
  12.5% {
    transform: translate3d(6px, 4px, 0) rotateY(50deg); }
  25% {
    transform: translate3d(10px, 10px, 0) rotateY(75deg); }
  37.5% {
    transform: translate3d(6px, 12px, 0) rotateY(100deg); }
  50% {
    transform: translate3d(0px, 20px, 0) rotateY(145deg); }
  62.5% {
    transform: translate3d(-6px, 12px, 0) rotateY(180deg); }
  75% {
    transform: translate3d(-10px, 10px, 0) rotateY(210deg); }
  87.5% {
    transform: translate3d(-6px, 4px, 0) rotateY(250deg); }
  100% {
    transform: translate3d(0, 0, 0) rotateY(280deg) translateY(0px); } }
.center_fluid {
  flex: 0 0 57%; }

.wheather_charts_fluid {
  width: 100%;
  background-color: #ecedee;
  overflow: hidden;
  display: flex;
  padding: 25px 30px;
  justify-content: space-between;
  align-items: flex-start; }
  .wheather_charts_fluid .weather_chart_container {
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between; }
  .wheather_charts_fluid .banner_fluid {
    flex: 0 0 20%;
    background-color: #d9ecf9;
    height: 700px; }
  .wheather_charts_fluid .chart_box {
    flex: 0 0 60%;
    background-color: #fff;
    padding: 20px; }
    .wheather_charts_fluid .chart_box canvas {
      width: 600px !important;
      height: 250px !important; }
  .wheather_charts_fluid .days_temp_box {
    background-color: #fff;
    padding: 20px 55px;
    height: 100%;
    flex: 0 0 38%; }
    .wheather_charts_fluid .days_temp_box .days_temp_tittle {
      padding: 0 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .wheather_charts_fluid .days_temp_box .days_temp_tittle span {
        color: #000;
        font-size: 18px;
        font-family: 'Conv_bpg_le_studio'; }
        .wheather_charts_fluid .days_temp_box .days_temp_tittle span:first-child {
          border-bottom: 1px solid #000; }

.cls-3 {
  stroke: #fff;
  stroke-miterlimit: 10;
  transition: .5s; }

svg .cls-1 {
  fill: #Fff !important;
  transition: .5s; }

svg .cls-2 {
  stroke: #Fff;
  transition: .5s; }

svg:hover .cls-1 {
  fill: #b1dcfc !important; }

svg:hover .cls-2 {
  stroke: #b1dcfc; }

svg:hover .cls-3 {
  stroke: #ffee9b !important; }

.cls-3 {
  animation: test 1s infinite; }

@keyframes {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1, 2); } }
#chartdiv {
  width: 100%;
  height: 500px; }

.days_temp_info_fluid {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; }
  .days_temp_info_fluid .days_temp_info {
    border: 1px solid #ccc;
    padding: 10px 10px; }
    .days_temp_info_fluid .days_temp_info:first-child {
      margin-right: 20px; }
  .days_temp_info_fluid .days_temp_header {
    text-align: center; }
    .days_temp_info_fluid .days_temp_header span {
      color: #000;
      font-size: 13px;
      font-family: 'Conv_bpg_le_studio'; }
  .days_temp_info_fluid .days_temp_img {
    text-align: center; }
  .days_temp_info_fluid .days_temp {
    text-align: center; }
    .days_temp_info_fluid .days_temp span {
      font-size: 19px;
      font-family: 'Conv_bpg_le_studio'; }

.days_temp_info .days_temp span:last-child {
  color: #000;
  font-size: 30px; }

.days_temp_info:first-child .days_temp span:first-child {
  color: #ff436d; }

.days_temp_info:last-child .days_temp span:first-child {
  color: #1ac1b0; }

.map_fluid iframe {
  width: 100%;
  height: 400px; }

.calendar_fluid {
  padding: 20px 35px;
  background-color: #fff;
  margin: 40px auto;
  max-width: 950px; }
  .calendar_fluid .calendar_tittle {
    text-align: center; }
    .calendar_fluid .calendar_tittle h3 {
      display: inline-block;
      color: #373d43;
      border-bottom: 1px solid #000;
      padding-bottom: 5px;
      font-family: 'Conv_bpg_le_studio';
      font-size: 17px; }

.calendar_box {
  margin-top: 20px; }
  .calendar_box > div {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize; }
    .calendar_box > div:not(:last-child) {
      border-bottom: 1px solid #ccccccb0; }
  .calendar_box .calendar_hour_box .cl_content span {
    font-family: 'Conv_bpg_le_studio';
    color: #1ac1b0;
    font-size: 14px; }

.calendar_weather_box {
  text-align: center; }
  .calendar_weather_box span {
    font-family: 'Conv_bpg_le_studio';
    color: #373d43;
    font-size: 12px;
    display: block; }
  .calendar_weather_box .cl_content div:first-child {
    font-family: 'Conv_bpg_le_studio';
    color: #1ac1b0;
    font-size: 14px; }
  .calendar_weather_box .cl_content div:last-child {
    font-family: 'Conv_bpg_le_studio';
    color: #373d43;
    font-size: 14px; }
  .calendar_weather_box .cl_content img {
    display: inline-block;
    margin-bottom: 5px; }

.calendar_box div > div {
  width: 65px;
  line-height: 10px;
  padding: 10px 0;
  text-align: center; }

.calendar_hour_box div:first-child {
  width: 100px !important;
  text-align: left; }

.calendar_weather_box div:first-child {
  text-align: left;
  width: 100px  !important; }

.calendar_fluid .owl-nav {
  display: block !important; }
  .calendar_fluid .owl-nav button {
    width: 30px;
    height: 30px;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    outline: none;
    position: absolute;
    z-index: 1000;
    transform: translateY(-50%); }
    .calendar_fluid .owl-nav button.owl-prev {
      background-image: url("../img/left_arrow-82.png");
      top: 50%;
      left: 0px; }
    .calendar_fluid .owl-nav button.owl-next {
      background-image: url("../img/right_arrow-82.png");
      top: 50%;
      right: 0px; }
    .calendar_fluid .owl-nav button span {
      display: none; }

/*# sourceMappingURL=main.css.map */
